@media(max-width:768px){

.hero{

padding-top:120px;

text-align:center;

}

.hero h1{

font-size:2.3rem;

}

.stat-grid{

grid-template-columns:1fr;

}

.dashboard-box{

margin-top:40px;

}

.btn{

width:100%;

margin-bottom:10px;

}

}